body {
  margin: 0;
  background-color: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #0095f6;
}

input {
  padding: 12px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #0095f6;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #007cc0;
}
